name: Python Coverage

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  python-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pytest==8.4.1
          python -m pip install coverage==7.9
          python -m pip install pytest-cov==6.2.1

      - name: Run tests and generate coverage details
        run: pytest --cov=src

      - name: Coverage comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_green: 90
          minimum_orange: 70

      - name: Fail if below threshold
        run: coverage report --fail-under=90